form(name="newMessage" action="" method="POST")#personal-info-form
	label.personal-info__label(data-number="1" placeholder="") 
		#nameError Введите Ваше имя и фамилию
		input(name="name" type="text" placeholder="Сидоров Александр")#nameValue
	
	label.personal-info__label(name="email" value="" type="text" data-number="2" required) 
		#emailError Введите адрес Вашей электронной почты
		input(name="email" placeholder="Sidorov@yandex.ru")#emailValue

	label.personal-info__label(data-number="3") 
		input(name="phone" type="text" placeholder="+7 (999)-328-14-20")
	label.personal-info__label(name="message" type="text" data-number="4") 
		textarea(placeholder="")
	button(type="submit" value="send") Отправить